<h1>Bookrs</h1>

<% @books.each do |book| %>

 <p>title</p>
 <span><%= book.title %></span>

 <p>body</p>
 <span><%= book.body %></span>

 <%= link_to "Edit",url:'/books/[:id]/edit' %>
 <%= link_to "Destroy",url:'/books/[:id]'

<% end %>
